.home__top-pc__item {
	position: relative;
	border-radius: 20px;
	background-color: var(--clr-item-card);
	display: grid;
	grid-template-columns: 388fr 310fr;

	img {
		border-radius: 20px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.home__top-pc__label__pos {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.home__top-pc__item__body {
	padding: 0 3rem;

	article {

		h4 {
			margin: 6rem 0 2rem 0;
			font-size: 1.8rem;
			font-weight: 700;
		}
	}
}
