.home-hero {
    // margin-top: 10rem;
    background: url('../img/home.png') center / cover no-repeat;
    padding: 40vh var(--space-right) 10vh var(--space-left);

    h2 {
        font-size: 4.8rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 15ch;
        line-height: 1.2;
    }
}