.home__top-pc {
  padding: 0 0 10vh 0;

  h3 {
    font-size: 2.4rem;
  }
}

.home__top-pc__grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  column-gap: 2.5rem;
  margin: 5vh 0;
}

.home__top-pc__grid-right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}