@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&family=Source+Sans+Pro:wght@400;600;700;900&family=Titillium+Web:wght@400;600;700;900&display=swap');

@import './scss/reusable.scss';
@import './scss/pagesHero.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    background-color: #f8f9fa;
    --fnt-fm-tit: 'Titillium Web', sans-serif;
    --fnt-fm-osw: 'Oswald', sans-serif;
    --ftn-source: 'Source Sans Pro', sans-serif;
    --ftn-fm-roboto: 'Roboto', sans-serif;

    --clr-back: #040F14;
    --clr-item-card: #102130;
    --clr-drop: #375470;
    --clr-card-text: #AFC7DF;
    --clr-red: #FF4654;
    --clr-white: #fff;
    --clr-card-border: rgba(255, 255, 255, 0.2);

    // --aside-width: clamp(5rem, 10rem, 50%);
    --space-left: 15rem;
    --space-right: 10rem;
}

// =====================GENERAL STYLES=====================================

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-back);
    color: var(--clr-white);
    font-family: var(--fnt-fm-osw);
}

a {
    color: inherit;
    text-decoration: none;
}