@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700;900&family=Titillium+Web:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    background-color: #f8f9fa;
    --fnt-fm-tit: 'Titillium Web', sans-serif;
    --fnt-fm-osw: 'Oswald', sans-serif;
    --ftn-source: 'Source Sans Pro', sans-serif;

    --clr-back: #040F14;
    --clr-item-card: #102130;
    --clr-drop: #375470;
    --clr-card-text: #AFC7DF;
    --clr-red: #FF4654;
    --clr-white: #fff;
    --clr-card-border: rgba(255, 255, 255, 0.2);

    --space-left: 10%;
    --space-right: 10%;
}

// 
// =====================GENERAL STYLES=====================================
// 

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-back);
    color: var(--clr-white);
    font-family: var(--fnt-fm-osw);
}

// ======================REUSABLE COMPONENTS================================

.btn__prm {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 12px;
    background-color: var(--clr-red);
    padding: 1.2rem 2.4rem;
}

.label__card {
    display: inline-block;
    font-size: 1.6rem;
    border: var(--clr-red) 1px solid;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}