// ======================REUSABLE COMPONENTS================================

// =======================MAIN===============================

.page__main {
	padding: 0 var(--space-right) 0 var(--space-left); 
}


// =======================CARD-GRID===================
.card-area {
	padding: 10vh 0;

	h3 {
			font-size: 2.4rem;
	}

}

.card-area__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(23rem,100%),1fr));
	margin: 5vh 0;
	column-gap: 2.5rem;
	row-gap: 2.5rem;
}

// ======================CARD=============================

.card {
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	background-color: var(--clr-item-card);
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 24px;
	}
}

.card__body {
    padding: 0 3rem;

	article {
		margin: 3rem 0 0 0;
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);

		h4 {
			font-size: 1.8rem;
			font-weight: 700;
			margin-bottom: 4rem;
		}

		p {
			font-family: var(--fnt-fm-tit);
			color: var(--clr-card-text);
			font-size: 1.6rem;
			line-height: 1.5;
			margin-bottom: 4rem;
		}

		button {
			margin-bottom: 3rem;
		}
	}
}

// ======================BTN / LABEL ========================

.btn__right {
  text-align: right;
}

.btn__prm {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 12px;
  background-color: var(--clr-red);
  padding: 1.2rem 2.4rem;
	cursor: pointer;
	transition: 300ms all;

  &:hover {
		background-color: var(--clr-red-ac);
		box-shadow: 0 0px 10px var(--clr-red-ac);
  }
}

.label__cards__container {
	display: flex;
	gap: 1rem;
	padding: 2rem 0;
}


.label__card {
  display: inline-block;
  font-size: 1.6rem;
  background-color: var(--clr-item-card);
  border: var(--clr-red) 1px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.label__pos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ftn-fm-roboto);
  font-weight: 700;
  font-size: 2.4rem;
  background-color: var(--clr-item-card);
  border: var(--clr-red) 2px solid;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
}